<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ webserver_server_name }}</title>
</head>
<body>
    <h1>{{ webserver_index_message }}</h1>
    <p>Serveur : {{ inventory_hostname }}</p>
</body>
</html>
